@media (max-width: 1600px) {
    .img-side img {
        width: 600px;
        margin-left: -4rem;
    }

    .hero-section {
        padding: 0rem 3rem;
    }
    .section-4 .box {
        padding: 1rem;
    }
    .section-4-content{
        width: 21.5rem;
    }
}

@media (max-width: 1300px) {
    .weird-color {
        display: none;
    }

    .top-nav {
        padding: 10px 2rem;
    }

    .custom-button {
        background-color: rgb(107, 107, 107);
    }

    .hero-section {
        padding: 0rem 4rem;
    }

    .img-side img {
        width: 480px;
        z-index: 3;
    }

    .org-buttons {
        padding: 0.4rem;
    }

    .org-buttons button {
        padding: 0.5rem 1rem;
    }

    .org-buttons a {
        padding-left: 1.6rem;
        text-decoration: none;
    }

    .section-1 h2 {
        font-size: 1.55rem;
        padding-top: 3rem;
    }

    .section1-text {
        padding: 0rem 3rem;
    }

    .col-lg-4 {
        padding: 1.2rem;
    }
    .section-3-content h1{
        text-align: center;
        margin-bottom: 0rem;
    }
    .section-3-content h2{
        font-size: 1.3rem;
    }
    .grid-section3 {
        display: block;
    }
    
    .grid-section3 img {
        display: none;
    }
    .section-4 {
        padding: 2rem;
    }
    .section-4-content{
        width: 18.5rem;
    }
    .floating-image img{
        width: 17rem;
    }
    .section-5{
        padding: 3rem 10rem;
    }
    
}

@media (max-width: 1000px) {
    .hero-section {
        padding: 0rem 1rem;
    }

    .org-prop {
        margin-top: -3.3rem;
        height: 90vh;
        width: 100%;
    }

    .img-side img {
        width: 100%;
    }
    .section-3-content {
        padding: 4rem;
    }   
    .section-4 .box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
    }
    .section-4-content{
        width: 100%;
        padding: 1rem;
    }
    .floating-image{
        display: none;
    }
    .section-5{
        padding: 3rem 6rem;
    }
    
}
@media (max-width: 990px) {
    .top-nav .navbar-nav {
        flex-direction: column;
        align-items: center;
    }

    .top-nav .navbar-nav .nav-item {
        margin-bottom: 10px;
    }
}

@media (max-width: 800px) {
    .marquee {
        margin: 0rem 4rem;
    }
    
}

@media (max-width: 700px) {
    .hero-section {
        padding: 0rem 4rem;
    }

    .org-prop {
        margin-top: 5rem;
        height: auto;
        width: 100%;
    }
.btn-black{
    width: 100%;
    display: block;
    margin-top: 1.3rem;
}
.learnt{
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 1rem;
    margin-left: -1rem;
}
    .img-side img {
        width: 90vw;
    }
    .section-3-content {
        padding: 2rem;
    }  
    .section-4 .box {
        display: block;
        grid-template-columns: 1fr;
    }
    .section-5{
        padding: 2rem 3rem;
    }
    
}
@media (max-width: 500px) {
    .org-name{
        font-size: 3.8rem;
    }
    .section-4-content{
        padding: 1.4rem;
    }
    
}