@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root {
    --main-theme: #eaf1f5;
    --second-theme: #d7e0f1;

}

.notin {
    color: red;
    display: none;
}

.notin2 {
    color: red;
    display: none;
}

.main-body {
    position: relative;
    background-color: var(--second-theme);
}

.weird-color {
    background-color: var(--main-theme);
    position: absolute;
    width: 45rem;
    height: 32rem;
    top: 0;
    right: 7.6rem;
    z-index: -1;
}

.logo {
    width: 5.5rem;
}

.top-nav {
    z-index: 1;
    padding: 10px 10rem;
}

.navbar-nav {
    font-family: 'Kanit', sans-serif;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    letter-spacing: 2.6px;
}

.nav-edit {
    display: flex;
    justify-content: space-between;
}

.btn-blue {
    background-color: #0C95EC;
    color: white;
    float: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn-black {
    background-color: #232a2e;
    color: white;
    width: 10rem;
    white-space: nowrap;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn-black a,
.btn-black:hover,
.btn-blue:hover {
    color: white;
    scale: 1.05;
}

.learnt {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hero-section {
    padding: 0rem 10rem;
}

.org-prop {
    display: flex;
    height: 40rem;
    width: 30vw;
    margin-left: 7rem;
    text-transform: capitalize;
    justify-content: center;
    flex-direction: column;
}

.org-name {
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    font-size: 4.3rem;
    line-height: 5rem;
    word-spacing: 100vw;
}

.org-brand {
    color: rgb(93, 92, 92);
    font-size: 1.16rem;
    word-spacing: 0.1rem;
    letter-spacing: 0.1rem;
    margin-top: 1.6rem;
    margin-bottom: 1rem;
}

.org-buttons {
    padding: 1.5rem;
}

.org-buttons button {
    padding: 0.5rem 2rem;
}

.org-buttons a {
    text-decoration: none;
}

.img-side img {
    z-index: 3;
}

.hero-section {
    z-index: 100;
}

.second {
    margin-top: 4rem;
}

.hero-bottom {
    text-align: center;
    margin: auto;
    width: 40rem;
    color: rgb(93, 92, 92);
}

.section-1 {
    margin-top: 2rem;
    background-color: var(--main-theme);
    padding-bottom: 6rem;
}

.section-1 h2 {
    font-family: 'Alice', serif;
    font-weight: 600;
    text-align: center;
    margin: auto;
    padding-top: 3rem;
}


@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translatex(-90vw);
    }
}

.section1-text {
    padding: 0rem 15rem;
    text-align: justify;
    font-size: 0.9rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #696969;

}

.offers {
    display: flex;
    justify-content: center;
    width: 95%;
    padding: 1rem;
    margin-top: 2rem;
}

.service-icon {
    width: 3rem;
    height: 2.6rem;
}

.service-card {
    background-color: transparent;
    line-height: 4rem;
    padding: 1rem;
}

.service-content {
    padding: 1rem;
}

.service-words {
    line-height: 1.7rem;
    font-size: 0.78rem;
    color: rgb(85, 84, 82);
}

.grid-section3 {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 20px;
    align-items: center;
    background-color: #ffffff;
}

.grid-section3 img {
    max-width: 100%;
    height: auto;
}

.section-3-content {
    padding: 5rem;
    padding-right: 10rem;
    line-height: 1.7rem;
    font-size: 0.78rem;
    color: rgb(85, 84, 82);
}

.section-3-content h1 {
    font-family: 'Alice', serif;
    font-size: 1.7rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.section-3-content h2 {
    font-family: 'Alice', serif;
    color: #0C95EC;

    font-size: 1rem;
    font-weight: 600;
}

.section-3-content p {
    font-family: 'Libre Baskerville', serif;
    font-size: 0.85rem;
    text-align: justify;
}


.section-4 {
    padding: 5rem;
    padding-right: 0;
}

.section-4 .box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem;
    padding-right: 0;
    box-sizing: border-box;

}

.floating-image img {
    width: 30rem;
    height: auto;
}

.section-4-header {
    font-size: 1rem;
    font-family: 'Alice', serif;
    color: #0C95EC;
    font-weight: 600;
}

.section-4-header:first-child {
    font-size: 2rem;
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    color: #000000;
}

.section-4-content {
    width: 26rem;
    line-height: 1.7rem;
    font-size: 0.78rem;
    color: rgb(85, 84, 82);


}

.section-4-text {
    font-family: 'Libre Baskerville', serif;
    font-size: 0.8rem;
}

.section-5 {
    display: flex;
    font-family: 'Lora', cursive;
    color: #ffffff;
    background-color: #0C95EC;
    flex-direction: column;
    align-items: center;
    padding: 4rem 18rem;
    text-align: center;
    gap: 1rem;
}

.section-5 button {
    background-color: #ffffff;
    padding: 0.7rem;
    color: #0C95EC;
}

.section-6 {
    display: flex;
    font-family: 'Alice', serif;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
    text-align: center;
    gap: 1.3rem;
    background: var(--main-theme);
}

.section-6 input[type='email'] {
    width: 27rem;
    border: none;
    border-radius: 3px;
    height: 30px;
    padding: 0.4rem;
    box-sizing: border-box;
    font-size: 0.8rem;
}

.section-6 input[type='submit'] {
    float: none;
    width: 7.5rem;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 300px) {
    #mail {
        font-size: 0.7rem !important;
    }

    .admin {
        font-size: 1rem;
        color: black;
    }

    .admin:hover {
        color: rgba(0, 0, 0, 0.467);
        text-decoration: none;
    }
}

.subart {
    width: 350px;
}

.center-align {
    margin-top: -4rem;
    display: flex;
    justify-content: center;
}



.logo-img {
    width: 120px;
    margin-bottom: 20px;
}
.col-lg-4 a,
        .col-lg-4 a:visited {
            color: rgb(0, 0, 0);
            text-decoration: none;
        }

        .col-lg-4 a:hover {
            color: rgb(153, 152, 152);
        }

        
        footer {
            background-color: rgb(193, 213, 237);
            padding: 50px 0 10px 0;
            font-size: 14px;
            font-family: 'Poppins', sans-serif;
            
        }
        .footer-text i {
            margin-right: 1.1rem;
        }

        .about-iba {
            font-size: 13px;
            color: rgb(61, 59, 59);
        }

        .footer-links li {
            display: inline-block;
            margin-right: 10px;
        }

        .footer-links a {
            color: #111;
            transition: color 0.3s ease;
            font-size: 11px;
        }

        .footer-links a:hover {
            color: rgb(129, 126, 126);
        }
        .other-links {
            display: grid;
            margin-top: 2rem;
            grid-template-columns: 1fr 1fr;
        }
        
        .footer-text p,
        .footer-text a {
            font-size: 14px;
            font-family: 'Poppins', sans-serif;
        }

        .words-break {
            font-size: 12px;
            font-family: 'Libre Baskerville', serif;

        }
        
        @media (max-width: 991.5px) {
            .wade{
                margin-top: -3.4rem;
            }
        }
